@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@config "../tailwind.config.js";
@plugin 'tailwind-scrollbar';

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

body.drawer-bodyLocked {
  overflow: hidden;
  touch-action: none;
}
